@font-face{

  font-family: 'AlternateGothic';

  src: url('../fonts/Alternate-Gothic.eot');

  src: url('../fonts/Alternate-Gothic.eot?iefix') format('eot'),

  url('../fonts/Alternate-Gothic.ttf') format('truetype'),

  url('../fonts/Alternate-Gothic.svg#webfont') format('svg');

  font-weight: normal;

  font-style: normal;

}
@font-face{

  font-family: 'ChaparralProBold';

  src: url('../fonts/ChaparralPro-Bold.eot');

  src: url('../fonts/ChaparralPro-Bold.eot?iefix') format('eot'),

  url('../fonts/ChaparralPro-Bold.woff') format('woff'),

  url('../fonts/ChaparralPro-Bold.ttf') format('truetype'),

  url('../fonts/ChaparralPro-Bold.svg#webfont') format('svg');

  font-weight: bold;

  font-style: normal;

}
@font-face{

  font-family: 'ChaparralProBoldit';

  src: url('../fonts/ChaparralPro-Boldit.eot');

  src: url('../fonts/ChaparralPro-Boldit.eot?iefix') format('eot'),

  url('../fonts/ChaparralPro-Boldit.woff') format('woff'),

  url('../fonts/ChaparralPro-Boldit.ttf') format('truetype'),

  url('../fonts/ChaparralPro-Boldit.svg#webfont') format('svg');

  font-weight: 800;

  font-style: normal;

}
@font-face{

  font-family: 'ChaparralProItalic';

  src: url('../fonts/ChaparralPro-Italic.eot');

  src: url('../fonts/ChaparralPro-Italic.eot?iefix') format('eot'),

  url('../fonts/ChaparralPro-Italic.woff') format('woff'),

  url('../fonts/ChaparralPro-Italic.ttf') format('truetype'),

  url('../fonts/ChaparralPro-Italic.svg#webfont') format('svg');

  font-weight: normal;

  font-style: italic;

}
@font-face{

  font-family: 'ChaparralProLightIt';

  src: url('../fonts/ChaparralPro-LightIt.eot');

  src: url('../fonts/ChaparralPro-LightIt.eot?iefix') format('eot'),

  url('../fonts/ChaparralPro-LightIt.woff') format('woff'),

  url('../fonts/ChaparralPro-LightIt.ttf') format('truetype'),

  url('../fonts/ChaparralPro-LightIt.svg#webfont') format('svg');

  font-weight: lighter;

  font-style: normal;

}
//@serif:  "chaparral-pro", Georgia, "Times New Roman", Times, serif;
@font-face{

  font-family: 'ChaparralPro';

  src: url('../fonts/ChaparralPro-Regular.eot');

  src: url('../fonts/ChaparralPro-Regular.eot?iefix') format('eot'),

  url('../fonts/ChaparralPro-Regular.svg#webfont') format('svg');

  font-weight: normal;

  font-style: normal;

}


@font-face{

  font-family: 'Intro';

  src: url('../fonts/Intro.eot');

  src: url('../fonts/Intro.eot?iefix') format('eot'),

  url('../fonts/Intro.svg#webfont') format('svg');

  font-weight: normal;

  font-style: normal;

}

@import url('https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700&subset=cyrillic,latin-ext,vietnamese');
@import url('https://fonts.googleapis.com/css?family=PT+Serif:400,400i,700,700i&subset=cyrillic,cyrillic-ext,latin-ext');

